* {
  box-sizing: border-box;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#status-bar{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#js-submit-button{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

label{
  margin-bottom: 20px;
  margin-top: 20px;
}

h1, h2{
  text-align: center;
}
